page-org-structure {
	ion-content {
		background-color: #eee !important;
		ion-card {
			margin-top: 15px !important;
			ion-icon {
				margin-left: 10px !important;
			}
			.parent{
				padding-top: 33px !important;
				padding-bottom: 33px !important;
			}
		}
	}
}
