<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{loc.dic.modules.IdeaBox}}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <div [ngSwitch]="ideas">
    <div *ngSwitchCase="'best'">
      <ion-card *ngFor="let item of Best" >
        <div>
          <ion-item>
            <h2>{{item.Title}}</h2>
            <p>{{item.Created}}</p>
          </ion-item>
          <img src="{{images.getImage(item.Author[0].email)}}">
          <ion-card-content>
            <p>{{item.Body}}</p>
          </ion-card-content>
        </div>
        <ion-row>
          <ion-col>
            <button [ngClass]="item.liked ? 'liked' : ''" ion-button icon-left clear small (tap)="ideaLiked($event,item)">
              <ion-icon name="thumbs-up"></ion-icon>
              <div>{{item.LikesCount || 0}}</div>
            </button>
          </ion-col>
          <!--<ion-col>
            <button ion-button icon-left clear small (tap)="newsComment(item)">
              <ion-icon name="text"></ion-icon>
              <div>{{item.MyComments.length}}</div>
            </button>
          </ion-col>-->
        </ion-row>
      </ion-card>
      <ion-item *ngIf="Best && Best.length == 0">
        <h2>{{loc.dic.mobile.Empty}}</h2>
      </ion-item>
      <ion-item *ngIf="!Best">
        <h2>{{loc.dic.mobile.Downloading}}</h2>
      </ion-item>
    </div>
    <div *ngSwitchCase="'new'">
      <ion-card *ngFor="let item of New" >
        <div>
          <ion-item>
            <h2>{{item.Title}}</h2>
            <p>{{item.Created}}</p>
          </ion-item>
          <img src="{{images.getImage(item.Author[0].email)}}">
          <ion-card-content>
            <p>{{item.Body}}</p>
          </ion-card-content>
        </div>
        <ion-row>
          <ion-col>
            <button [ngClass]="item.liked ? 'liked' : ''" ion-button icon-left clear small (tap)="newsLiked($event,item)">
              <ion-icon name="thumbs-up"></ion-icon>
              <div>{{item.LikesCount || 0}}</div>
            </button>
          </ion-col>
          <!--<ion-col>
            <button ion-button icon-left clear small (tap)="newsComment(item)">
              <ion-icon name="text"></ion-icon>
              <div>{{item.MyComments.length}}</div>
            </button>
          </ion-col>-->
        </ion-row>
      </ion-card>
      <ion-item *ngIf="New && New.length == 0">
        <h2>{{loc.dic.mobile.Empty}}</h2>
      </ion-item>
      <ion-item *ngIf="!New">
        <h2>{{loc.dic.mobile.Downloading}}</h2>
      </ion-item>
    </div>
  </div>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-segment [(ngModel)]="ideas" color="new">
      <ion-segment-button value="best"(click)="getBest()">
        {{loc.dic.days.today}}
      </ion-segment-button>
      <ion-segment-button value="new" (click)="getNew()">
        {{loc.dic.days.yesterday}}
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-footer>
