<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{loc.dic.modules.IdeaBox}}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <div [ngSwitch]="ideas">
    <div *ngSwitchCase="'best'">
      <ion-card *ngFor="let item of Best" >
        <div>
          <ion-item>
            <ion-avatar item-left>
              <img src="{{images.getImage(item.Author[0].email || 'e@e','_layouts/15/userphoto.aspx?size=L&accountname='+ (item.Author[0].email || 'e@e')+'&mobile=0')}}">
            </ion-avatar>
            <h2 class="userTitle" >{{item.Author[0].title}}</h2>
            <p>{{item.Created}}</p>
            <div class="score" item-right>
              <h1>{{item.LikesCount || 0 }}</h1>
              <span>{{getPoints(item.LikesCount || 0)}}</span>
            </div>
          </ion-item>
          <ion-card-content>
            <p>{{item.textBody}}</p>
          </ion-card-content>
        </div>
        <ion-row>
          <ion-col>
            <button [ngClass]="item.liked ? 'liked' : ''" ion-button icon-left clear small (tap)="ideaLiked($event,item)">
              <ion-icon class="like_icon" name="thumbs-up"></ion-icon>
              <div>{{item.LikesCount || 0}}</div>
            </button>
          </ion-col>
          <ion-col>
            <button ion-button icon-left clear small (tap)="showPrompt(item)">
              <ion-icon name="ios-text"></ion-icon>
              <div>{{item.MyComments.length}}</div>
            </button>
          </ion-col>
        </ion-row>
        <ion-list class="comments" >
            <ion-item class="showcomments" *ngIf="!item.showcomments && item.MyComments.length > 2 ">
                <p (tap)="item.showcomments = true">{{loc.dic.mobile.ShowMoreComments}}</p>
            </ion-item>
            <ng-container *ngFor="let comment of item.MyComments; index as i">
              <ion-item *ngIf="item.showcomments || i == item.MyComments.length-1 ||i == item.MyComments.length-2 ">
                <ion-avatar item-left>
                  <img src="{{images.getImage(comment.Author.EMail || 'e@e','_layouts/15/userphoto.aspx?size=L&accountname='+ (comment.Author.EMail || 'e@e')+'&mobile=0')}}">
                </ion-avatar>
                <h2 class="userTitle" >{{comment.Author.Title}}<span>{{comment.MyCreated}}</span></h2>
                <p>{{comment.FieldValuesAsText.Body}}</p>
                <button [ngClass]="comment.liked ? 'liked' : ''" ion-button icon-left clear small (tap)="ideaLiked($event,comment)">
                  <ion-icon class="like_icon_comment"  name="thumbs-up"></ion-icon>
                  <div>{{comment.LikesCount || 0}}</div>
                </button>
              </ion-item>
            </ng-container>
        </ion-list>
      </ion-card>
      <ion-item class="empty" *ngIf="Best && Best.length == 0">
        <h2>{{loc.dic.mobile.Empty}}</h2>
      </ion-item>
      <ion-item *ngIf="!Best">
        <h2>{{loc.dic.mobile.Downloading}}</h2>
      </ion-item>
    </div>
    <div *ngSwitchCase="'new'">
      <ion-card *ngFor="let item of New" >
        <div>
          <ion-item>
            <ion-avatar item-left>
              <img src="{{images.getImage(item.Author[0].email || 'e@e','_layouts/15/userphoto.aspx?size=L&accountname='+(item.Author[0].email || 'e@e')+'&mobile=0')}}">
            </ion-avatar>
            <h2 class="userTitle" >{{item.Author[0].title}}</h2>
            <p>{{item.Created}}</p>
            <div class="score" item-right>
              <h1>{{item.LikesCount || 0}}</h1>
              <span>{{getPoints(item.LikesCount || 0)}}</span>
            </div>
          </ion-item>
          <ion-card-content>
            <p>{{item.textBody}}</p>
          </ion-card-content>
        </div>
        <ion-row>
          <ion-col>
            <button [ngClass]="item.liked ? 'liked' : ''" ion-button icon-left clear small (tap)="ideaLiked($event,item)">
              <ion-icon class="like_icon" name="thumbs-up"></ion-icon>
              <div>{{item.LikesCount || 0}}</div>
            </button>
          </ion-col>
          <ion-col>
            <button ion-button icon-left clear small (tap)="showPrompt(item)">
              <ion-icon name="ios-text"></ion-icon>
              <div>{{item.MyComments.length}}</div>
            </button>
          </ion-col>
        </ion-row>
        <ion-list class="comments" >
          <ion-item class="showcomments" *ngIf="!item.showcomments  && item.MyComments.length > 2">
              <p (tap)="item.showcomments = true">{{loc.dic.mobile.ShowMoreComments}}</p>
          </ion-item>
          <ng-container *ngFor="let comment of item.MyComments; index as i">
            <ion-item *ngIf="item.showcomments || i == item.MyComments.length-1 ||i == item.MyComments.length-2 ">
              <ion-avatar item-left>
                <img src="{{images.getImage(comment.Author.EMail || 'e@e','_layouts/15/userphoto.aspx?size=L&accountname='+ (comment.Author.EMail || 'e@e')+'&mobile=0')}}">
              </ion-avatar>
              <h2 class="userTitle" >{{comment.Author.Title}}<span>{{comment.MyCreated}}</span></h2>
              <p>{{comment.FieldValuesAsText.Body}}</p>
              <button [ngClass]="comment.liked ? 'liked' : ''" ion-button icon-left clear small (tap)="ideaLiked($event,comment)">
                <ion-icon class="like_icon_comment" name="thumbs-up"></ion-icon>
                <div>{{comment.LikesCount || 0}}</div>
              </button>
            </ion-item>
          </ng-container>
        </ion-list>
      </ion-card>
      <ion-item class="empty" *ngIf="New && New.length == 0">
        <h2>{{loc.dic.mobile.Empty}}</h2>
      </ion-item>
      <ion-item *ngIf="!New">
        <h2>{{loc.dic.mobile.Downloading}}</h2>
      </ion-item>
    </div>
  </div>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-segment [(ngModel)]="ideas" color="new">
      <ion-segment-button value="best"(click)="getBest()">
        {{loc.dic.mobile.Best}}
      </ion-segment-button>
      <ion-segment-button value="new" (click)="getNew()">
        {{loc.dic.mobile.Newest}}
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-footer>
