page-idea {
    .content{
		background-color: #ddd;
    }
    
    ion-avatar[item-start]{
        margin-right: 7px !important;
    }

	.card{
        margin-bottom: 20px;
        .card-content{
            padding-bottom: 1px !important;
        }
	}

	.row{
		.col{
            padding: 0px !important;
			button{
                // font-size:2rem;
                font-size: 1.5rem;
                .like_icon {
                    padding-bottom:5px;
                }
			}
		}
        .col:last-child{
            text-align: right;
        }
    }
    
    .like_icon_comment{
        padding-bottom:3px;
    }

	.liked{
		color:red;
	}

    .score{
        color:white;
        text-align: right;

        h1{
            color:#a1238e !important;
        }
        span{
            font-size: 1.1rem;
            background-color: #a1238e;
            padding: 3px;
        }
    }

    .userTitle{
        font-weight: 500 !important;
        span {
            margin-left: 5px;
            font-weight: normal;
            font-size: 1.35rem;
        }
    }

    .userDate{
        font-size: 1.2rem;
    }

    .comments{
        ion-item{
            background-color: #f1f1f1 !important;
            button{
                padding: 0px !important;
            }
            .label{
                margin-top: 3px !important;
                margin-bottom: 3px !important;
            }
        }
        .showcomments{
            min-height: 0px;
            .label{
                margin-top: 3px !important;
                margin-bottom: 3px !important;
            }
            p{
                color: rgb(170,50,150);
            }
        }
    }
}
