page-post{
    
	ion-content{
		.bodytext{
			white-space: pre-line;
			padding: 0px;
			margin: 0px;
			p{
				margin:0px !important;
			}
		}
	}
	.row{
		.col{
			padding-top: 0px !important;
			padding-bottom : 0 !important;
			max-width: 35% !important;
			button{
				font-size: 1.5rem;
				text-transform: none;
				.icon{
					margin-left:10px;
					line-height: .67 !important;
				}
				.ion-ios-text{
					margin-bottom: -3px;
				}
				.like_icon.icon-ios{
					padding-bottom:5px;
				}
				div.countNumber{
					margin-right:3px;
				}
			}
		}

		.leftcol{
			max-width: 80% !important;
			width:100%;
			padding-top: 0px !important;
			.item{
				padding-left: 0px !important;
				.label{
					margin: 0px !important;
					color:grey;
					font-size: 1.4rem;
				}
			}
		}
		.rightcol{
			max-width: 20% !important;
			width: 20%;
			button.sendText{
				height:100%;
				vertical-align: bottom;
				color: #387ef5;
				padding-left: 0;
				font-size: 2.1rem;
				font-weight: bold;
				margin-top: 15%;
				background-color: transparent;
			}
			button.sendIcon{
				height:60px;
				border-radius: 6px;
			}
		}
	}
	
	.content-md {
		.rightcol{
			max-width: 23% !important;
			width: 23%;
		}
	}

    .commentTitle{
		h2{
			display: inline;
			font-size: 1.3rem;
			font-weight: 500;
		}
		span {
			display: inline;
			font-size: 1.2rem;
		}
	}

	.liked{
		color:red;
    }
    
    .author_avatar{
        position: relative;
        width:100%;
        margin : auto;
        background-position: center;
        background-size: cover;
        padding : 20px;
        div{
            width:50%;
            margin:auto;
            img {
				border-radius: 50%;
				width:100%;
				border : 1px solid grey;
            }
		}
		.datespan{
			font-size:1.4rem;
			display:block;
			color:white;
			position: absolute;
			bottom: 10px;
			text-shadow: 0px 0px 6px black;
			background-color: transparent;
		}
	}
	
	.comment {
		padding-left: 0px !important;
		.item-inner{
			border : 0px !important;
			.label{
				margin-top: 0px !important;
				margin-bottom: 0px !important;
			}
		}
	}

	.likesRow {
		max-width: 100% !important;
		ion-col{
			margin-left: 0%;
			margin-right: 8%;
			padding : 0 5px 0 5px !important;
			button{
				color: grey;
			}
		}	
	}
}