page-eventview{
    ion-content{
		.bodytext{
			white-space: pre-line;
		}
	}

	ion-icon{
		font-size: 2em;
	 }
	ion-label{
		padding-left:10px;
		div.line{
			font-size: 1.7rem;
			margin-top: 10px;
			margin-bottom: 10px;
		}
		ion-icon {
			width:3%;
			font-size: 1.0em;
		}
	}

	 .left{
        display: inline-block;
        vertical-align: text-bottom;
        width:20%;
    }
    .right{
        display: inline-block;
        vertical-align: text-bottom;
        width:70%;
        color : grey;
    }
    .userTag{
       display: inline-block;
       border:2px solid #444;
       border-radius: 20px;
       white-space: nowrap;
       span {
          vertical-align: super;
          margin-right: 9px;
          margin-left: 5px;
       }
    }

    .user {
        color : #0072C6;
    }

    .task {
      background-color: #F2F2F2;
      .input-wrapper{
         border-left: 1px solid #DEDEDE;
        //  padding-left:10px;
      }
    }
}