department_users {
	ion-content {
		background-color: #eee !important;
		ion-card {
			margin-top: 15px !important;
		}
	}

	ion-row{
		word-break: break-all;
	}

	ion-avatar{
		img{
			max-width: 80px !important;
			// height: 80px !important;
		}
	}
}
