department_users {
	ion-content {
		background-color: #eee !important;
		ion-card {
			margin-top: 15px !important;
		}
	}

	ion-avatar{
		img{
			width: 80px !important;
			height: 80px !important;
		}
	}
}
