page-newcomers {

	ion-item{
		ion-avatar{
			img {
				width: 60px !important;
				height: 60px !important;
			}
		}
	}

	.hiredate{
		background-color: #f3f3f3;
		padding: 10px;
		text-align: center;
		p {
			border-bottom:2px #babcc0 solid;
		}
	}

}
