<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{loc.dic.modules.Birthdays}}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <div [ngSwitch]="birth">
    <div *ngSwitchCase="'today'">
      <ion-list>
        <ion-item *ngFor="let BirthUser of todayArr" (click)="openCard(BirthUser)" >
          <ion-avatar item-left>
            <img src="{{images.getImage(BirthUser.UserEmail,'_layouts/15/userphoto.aspx?size=L&accountname='+BirthUser.UserEmail+'&mobile=0')}}">
          </ion-avatar>
          <div class="container">
            <h1>{{BirthUser.Title}}</h1>
            <h2>{{BirthUser.BDate}}</h2>
          </div>
        </ion-item>
      </ion-list>
      <ion-item class="empty" *ngIf="todayArr && todayArr.length == 0">
        <h2>{{loc.dic.mobile.Empty}}</h2>
      </ion-item>
      <ion-item *ngIf="!todayArr">
        <h2>{{loc.dic.mobile.Downloading}}</h2>
      </ion-item>
    </div>
    <div *ngSwitchCase="'tomorrow'">
      <ion-list>
        <ion-item *ngFor="let BirthUser of tomorrowArr" (click)="openCard(BirthUser)" >
          <ion-avatar item-left>
            <img src="{{images.getImage(BirthUser.UserEmail,'_layouts/15/userphoto.aspx?size=L&accountname='+BirthUser.UserEmail+'&mobile=0')}}">
          </ion-avatar>
          <div class="container">
            <h1>{{BirthUser.Title}}</h1>
            <h2>{{BirthUser.BDate}}</h2>
          </div>
        </ion-item>
      </ion-list>
      <ion-item class="empty"  *ngIf="tomorrowArr && tomorrowArr.length == 0">
        <h2>{{loc.dic.mobile.Empty}}</h2>
      </ion-item>
      <ion-item *ngIf="!tomorrowArr">
        <h2>{{loc.dic.mobile.Downloading}}</h2>
      </ion-item>
    </div>
    <div *ngSwitchCase="'week'">
      <ion-list>
        <ion-item *ngFor="let BirthUser of weekArr" (click)="openCard(BirthUser)" >
          <ion-avatar item-left>
            <img src="{{images.getImage(BirthUser.UserEmail,'_layouts/15/userphoto.aspx?size=L&accountname='+BirthUser.UserEmail+'&mobile=0')}}">
          </ion-avatar>
          <div class="container">
            <h1>{{BirthUser.Title}}</h1>
            <h2>{{BirthUser.BDate}}</h2>
          </div>
        </ion-item>
      </ion-list>
      <ion-item class="empty" *ngIf="weekArr && weekArr.length == 0">
        <h2>{{loc.dic.mobile.Empty}}</h2>
      </ion-item>
      <ion-item *ngIf="!weekArr">
        <h2>{{loc.dic.mobile.Downloading}}</h2>
      </ion-item>
    </div>
    <div *ngSwitchCase="'month'">
      <ion-list>
        <ion-item *ngFor="let BirthUser of monthArr" (click)="openCard(BirthUser)" >
          <ion-avatar item-left>
            <img src="{{images.getImage(BirthUser.UserEmail,'_layouts/15/userphoto.aspx?size=L&accountname='+BirthUser.UserEmail+'&mobile=0')}}">
          </ion-avatar>
          <div class="container">
            <h1>{{BirthUser.Title}}</h1>
            <h2>{{BirthUser.BDate}}</h2>
          </div>
        </ion-item>
      </ion-list>
      <ion-item class="empty" *ngIf="monthArr && monthArr.length == 0">
        <h2>{{loc.dic.mobile.Empty}}</h2>
      </ion-item>
      <ion-item *ngIf="!monthArr">
        <h2>{{loc.dic.mobile.Downloading}}</h2>
      </ion-item>
    </div>
  </div>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-segment [(ngModel)]="birth" color="new">
      <ion-segment-button value="today"(click)="getToday()">
        {{loc.dic.days.today}}
      </ion-segment-button>
      <ion-segment-button value="tomorrow" (click)="getTomorrow()">
        {{loc.dic.days.tomorrow}}
      </ion-segment-button>
      <ion-segment-button value="week" (click)="getWeek()">
        {{loc.dic.days.week}}
      </ion-segment-button>
      <ion-segment-button value="month" (click)="getMonth()">
        {{loc.dic.days.month}}
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-footer>
