page-birthdays {
	.container{
		h2{
			background-color: #c0d3f8;
			font-size: 1.6rem;
		}
		p{
			font-size: 1.4rem;
			padding-left: 10px;
		}
		// display: inline-block;
	}
	.content{
		background-color: #eeeeee;
	}

	ion-item.item {
		padding-top: 5px;
		padding-bottom: 1px;
		background-color: transparent !important;
		.item-inner{
			padding-right:0px !important;
			background-color: #fff;
			border-bottom: 0px !important;
			
			ion-label {
				margin-right:0px !important;

				h1 {
					padding-left: 10px;
				}
				h2{
					padding-left: 10px;
				}
			}
		}

		ion-avatar {
			img{
				// width: 60px;
				// height: 60px;
				max-width: 80px;
			}
		}
	}
}
