.menucontainer > .scroll-content{
   background-color: #0072C6;
}

.menucontainer {
    button {
        text-transform: none !important;
        font-size: 1.5rem;
        height: 4.3rem;
        padding: 0 0.6em;
        .label{
            line-height: 35px;
        }
    }
}

.userAvatart{
   .item-inner{ 
      border-bottom: 0px !important;
   }
   ion-title{
       vertical-align: middle;
       padding-top: 0px !important;
   }
}

.alert-md{
    // padding-top: 10px !important;
    .alert-wrapper{
        max-width: 90%;
        overflow-y: auto;
        .alert-head{
            padding: 20px 24px 10px 24px;
        }
        .alert-message{
            font-size: 1.5rem;
            padding-bottom: 10px;
            overflow-y: visible;
        }
        .alert-input-group{
            font-size: 1.2rem;
            padding-bottom : 4px;
        }
        .alert-button-group{
            padding-top: 1px;
            .alert-button{
                padding: 5px;
                overflow: visible;
            }
        }
    }
}
