page-card {
	ion-title{
		padding: 0px;
		height: 100%;
		.date{
			font-size:1.4rem;
			display:block;
			color:grey;
		}
	}

	ion-navbar{
		padding:0px;
		margin:0px;
	}

	ion-content{
		.bodytext{
			white-space: pre-line;
			padding: 0px;
			margin: 0px;
			p{
				margin:0px !important;
			}
		}
	}
	.row{
		.col{
			button{
				font-size: 1.5rem;
				text-transform: none;
				.like_icon.icon-md{
					padding-bottom:2px;
				}
				.like_icon.icon-ios{
					padding-bottom:5px;
				}
				.comment_icon.icon-md {
					// margin-bottom: -4px;
				}
				.comment_icon.icon-ios {
					padding-bottom: 0px;
				}
				div.countNumber{
					margin-right:3px;
				}
			}
		}

		.leftcol{
			max-width: 80% !important;
			width:100%;
			.item{
				padding-left:1px !important;
				.label{
					font-size: 1.4rem !important;
					color:grey;
				}
				ion-input{
					font-size: 1.4rem;
				}
			}
		}
		.rightcol{
			max-width: 20% !important;
			width: 20%;
			button.sendText{
				height:100%;
				vertical-align: bottom;
				color: #387ef5;
				background-color: transparent;
				padding-left: 0;
				font-size: 2.1rem;
				font-weight: bold;
				margin-top: 12%;
			}
			button.sendIcon{
				height:60px;
				border-radius: 6px;
			}
		}
	}

	.content-md {
		.rightcol{
			max-width: 23% !important;
			width:23%;
		}
	}

	div{
		.note{
			color: #666;
			font-size: 1.2rem;
			background-color: #eee;
			padding: 5px;
			margin: 1px;
			border-radius: 9px;
			display: inline-block;
		}
	}

	.commentTitle{
		h2{
			display: inline;
			font-size : 1.4rem;
			font-weight: 500;
		}
		span {
			display: inline;
			font-size: 1.4rem;
		}
	}

	.liked{
		color:red;
	}

	.noBottomLine {
		padding-left:0px !important;
		div.item-inner{
			border-bottom : 0px !important;
			ion-label{
				margin-top: 1px !important;
			}
		}
	}

	.row{
		.col {
			padding:0px !important;
			.label{
				margin-top:0px;
			}
		}
	}

	.likesRow {
		max-width: 100% !important;
		ion-col{
			margin-left: 5%;
			margin-right: 8%;
			max-width: 33%;
			button{
				color: grey;
			}
		}
		
	}

	.notes{
		padding : 0px !important;
	}
}
