page-card {
	ion-title{
		.date{
			font-size:1.4rem;
			display:block;
		}
	}

	ion-content{
		.bodytext{
			white-space: pre-line;
		}
	}
	.row{
		.col{
			max-width: 50% !important;
			button{
				font-size: 1.5rem;
				text-transform: none;
				.like_icon.icon-md{
					padding-bottom:2px;
				}
				.like_icon.icon-ios{
					padding-bottom:5px;
				}
				.comment_icon.icon-md {
					// margin-bottom: -4px;
				}
				.comment_icon.icon-ios {
					padding-bottom: 0px;
				}
				.icon{
					margin-left:10px;
				}
			}
		}

		.leftcol{
			max-width: 80% !important;
			width:100%;
		}
		.rightcol{
			max-width: 20% !important;
			width: 20%;
			button{
				height:60px;
				border-radius: 6px;
			}
		}
	}

	.content-md {
		.rightcol{
			max-width: 15% !important;
			width:15%;
		}
	}

	div{
		.note{
			color: #666;
			font-size: 1.5rem;
			background-color: #eee;
			padding: 6px;
			margin: 3px;
			border-radius: 9px;
			display: inline-block;
		}
	}

	.commentTitle{
		h2{
			display: inline;
		}
		span {
			display: inline;
			font-size: 1.2rem;
		}
	}

	.liked{
		color:red;
	}
}
