<ion-header>
  <ion-navbar>
    <ion-title>
      {{card.FieldValuesAsText.Title}}
      <span class="date">{{card.MyDate}}</span>
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
      <img src="{{images.getImage(card.Image)}}">
      <!--{{images.getImage(item.Image)}}-->

      <div padding>
        <h4 *ngIf="card.FieldValuesAsText.LSiNewsShortDescription" >{{card.FieldValuesAsText.LSiNewsShortDescription}}</h4>
        <p *ngIf="card.FieldValuesAsText.LSiNewsBody && card.FieldValuesAsText.LSiNewsBody.length > 0" class="bodytext" [innerHTML]="card.LSiNewsBody"></p>
        <ion-row>
          <ion-col>
            <button [ngClass]="card.liked ? 'liked' : ''" ion-button icon-left clear small (tap)="newsLiked($event,card)">
              {{card.liked?loc.dic.mobile.NotLike : loc.dic.mobile.Like}}
              <ion-icon class="like_icon" name="thumbs-up"></ion-icon>
              <div>{{card.LikesCount || 0}}</div>
            </button>
          </ion-col>
          <ion-col>
            <button ion-button icon-left clear small (tap)="focuse('textcomment')">
              {{loc.dic.mobile.Comment}}
              <ion-icon class="comment_icon" name="ios-text"></ion-icon>
              <div>{{card.MyComments.length}}</div>
            </button>
          </ion-col>
        </ion-row>
        <div>
          <ion-col *ngFor="let tag of card.LSiNewsTags.results">
            <ion-note >
              #{{tag.Label}}
            </ion-note>
          </ion-col>
        </div>
        <div #comments>
          <ion-item class="noBottomLine" *ngFor="let comment of card.MyComments">
            <ion-avatar item-left>
              <img src="{{images.getImage((comment.Author ?comment.Author.EMail : 'e@e'),'_layouts/15/userphoto.aspx?size=L&accountname='+(comment.Author ?comment.Author.EMail : 'e@e')+'&mobile=0')}}">
            </ion-avatar>
            <label>
              <div class="commentTitle" >
                <h2 *ngIf="comment.Author && comment.Author.Title" >{{comment.Author.Title}}</h2>
                <span>{{comment.MyCreated}}</span>
              </div>
              <div>
                <p>{{comment.FieldValuesAsText.LSiCommentText}}</p>
              </div>
            </label>
          </ion-item>
          <ion-row>
            <ion-col class="leftcol">
              <ion-item item-left>
                <ion-label floating>{{loc.dic.Alert37}}</ion-label>
                <ion-input #textcomment (focus)="focuse('textcomment2')" rows="3"></ion-input>
              </ion-item>
            </ion-col>
            <ion-col class="rightcol">
              <button class="sendText" *ngIf="loc.localization == 'en-gb'" (tap)="sendComment($event)" >
                  {{loc.dic.Send}}
              </button>
              <button class="sendIcon" *ngIf="loc.localization != 'en-gb'" ion-button full icon-only (tap)="sendComment($event)" >
                  <ion-icon name="send"></ion-icon>
              </button>
            </ion-col>
          </ion-row>
        </div>
    </div>
</ion-content>
