<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{loc.dic.modules.News}}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-card *ngFor="let item of News" >
    <div (tap)="openCard(item,guid)">
      <ion-item>
        <h2>{{item.FieldValuesAsText.Title}}</h2>
        <p>{{item.MyDate}}</p>
      </ion-item>

      <img src="{{images.getImage(item.Image)}}">
      <!--{{images.getImage(item.Image)}}-->

      <ion-card-content>
        <p>{{item.MyBody}}</p>
      </ion-card-content>
    </div>
    <ion-row class="notesRow">
      <ion-col >
          <!-- center text-center -->
        <ion-note class="note_text" *ngFor="let tag of item.LSiNewsTags.results">
          #{{tag.Label}}
        </ion-note>
      </ion-col>
    </ion-row>
    <ion-row class="likesRow">
      <ion-col>
        <button [ngClass]="item.liked ? 'liked' : ''" ion-button icon-left clear small (tap)="newsLiked($event,item)">
          <ion-icon class="like_icon" name="thumbs-up"></ion-icon>
          <div class="countNumber">{{item.LikesCount || 0}}</div>
          {{item.liked?loc.dic.mobile.NotLike : loc.dic.mobile.Like}}
        </button>
      </ion-col>
      <ion-col>
        <button class="comment_button" ion-button icon-left clear small (tap)="newsComment(item)">
          <ion-icon name="ios-text"></ion-icon>
          <div class="countNumber">{{item.MyComments.length}}</div>
          {{loc.dic.mobile.Comment}}
        </button>
      </ion-col>
    </ion-row>
  </ion-card>
  <ion-item class="empty" *ngIf="News && News.length == 0">
    <h2>{{loc.dic.mobile.Empty}}</h2>
  </ion-item>
  <ion-item *ngIf="!News">
    <h2>{{loc.dic.mobile.Downloading}}</h2>
  </ion-item>
  <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
    <ion-infinite-scroll-content
      loadingText="{{loc.dic.mobile.Downloading}}">
      <!--loadingSpinner="bubbles"-->
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
