page-news {

	.content{
		background-color: #eeeeee;
	}

	.card{
		margin-bottom: 20px;
		.card-content {
			padding-bottom: 1px;
		}
	}

	.notesRow{
		padding-left: 16px;
		padding-right: 16px;
	}

	.row{
		.col{
			button{
				font-size:1.5rem;
				text-transform: inherit;
				.like_icon{
					padding-bottom: 2px;
				}
				div.countNumber{
					margin-right:3px;
				}
			}
			.comment_button{
				float: right;
			}
		}
	}

	.note_text{
		padding-right:9px;
	}

	.liked{
		color:red;
	}

	.likesRow{
		ion-col{
			padding : 0 5px 0 5px !important;
			margin-left: 5%;
			margin-right: 8%;
			max-width: 37%;
			button{
				color: grey;
			}
		}
	}
}
