<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{loc.dic.modules.News}}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-card *ngFor="let item of News" >
    <div (click)="openCard(item)">
      <ion-item>
        <h2>{{item.FieldValuesAsText.Title}}</h2>
        <p>{{item.MyDate}}</p>
      </ion-item>

      <img src="{{item.Image}}">
      <!--{{images.getImage(item.Image)}}-->

      <ion-card-content>
        <p>{{item.MyBody}}</p>
      </ion-card-content>
    </div>
    <ion-row>
      <ion-col>
        <button [ngClass]="item.liked ? 'liked' : ''" ion-button icon-left clear small (click)="newsLiked(item)">
          <ion-icon name="thumbs-up"></ion-icon>
          <div>{{item.LikesCount || 0}}</div>
        </button>
      </ion-col>
      <ion-col>
        <button ion-button icon-left clear small>
          <ion-icon name="text"></ion-icon>
          <div>4</div>
        </button>
      </ion-col>
      <ion-col center text-center>
        <ion-note *ngFor="let tag of item.LSiNewsTags.results">
          #{{tag.Label}}
        </ion-note>
      </ion-col>
    </ion-row>
  </ion-card>
  <ion-item *ngIf="News && News.length == 0">
    <h2>{{loc.dic.mobile.Empty}}</h2>
  </ion-item>
  <ion-item *ngIf="!News">
    <h2>{{loc.dic.mobile.Downloading}}</h2>
  </ion-item>
  <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
    <ion-infinite-scroll-content
      loadingText="{{loc.dic.mobile.Downloading}}">
      <!--loadingSpinner="bubbles"-->
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
