page-survey {
	.question{
		background-color:#4672aa;	
		padding: 10px 20px 10px 20px;
		color: white;
	}

	.answer{
		padding: 20px;
		font-size: 1.8rem;
	}

	ion-item{
		outline: none !important;
		border: none !important;
		border-top: none !important;
		.item-inner{
			outline: none !important;
			border: none !important;
			border-top: none !important;
			border-bottom: none !important;
		}
		.procents{
			display: block;
			background-color: #CCCCCC;
			div {
				background-color: #3966bf;
				height:100%;
				// min-width: 1%;
			}
			height:20px;
			width: 100%;
		}
	}

	ion-list{
		margin : 0 !important;
	}

	.buttons{
		margin : auto;
		width: 90%;
		text-align: center;
		button {
			background-color:#4672aa;
			width:45%;
		}
	}
}
