<ion-header>
  <ion-navbar>
    <ion-title>{{greeting_user.Title}}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <div class="birthmain" >
    <ion-item >
      <ion-avatar>
          <img src="{{images.getImage(greeting_user.UserEmail,'_layouts/15/userphoto.aspx?size=L&accountname='+greeting_user.UserEmail+'&mobile=0')}}">
      </ion-avatar >
      <ion-item class="mainTextItem" >
        <ion-icon name="ribbon"></ion-icon>
        <span>{{greeting_user.Title}}</span>
      </ion-item>
      <div class="about">
        <p>{{greeting_user.JobTitle}}</p>
        <h1>{{greeting_user.BDate}}</h1>
      </div>
    </ion-item>
  </div>
  <ion-list>
    <ion-item class="comment" *ngFor="let comment of Comments">
      <ion-avatar item-left>
        <img src="{{images.getImage((comment.Author ?comment.Author.EMail : 'e@e'),'_layouts/15/userphoto.aspx?size=L&accountname='+(comment.Author ?comment.Author.EMail : 'e@e')+'&mobile=0')}}">
      </ion-avatar>
      <label>
        <div class="commentTitle" >
          <h2 *ngIf="comment.Author && comment.Author.Title" >{{comment.Author.Title}}</h2>
          <span>{{comment.MyDate}}</span>
        </div>
        <div>
          <p>{{comment.LSiBirthdayGreetingsText}}</p>
        </div>
      </label>
    </ion-item>
    <ion-row>
      <ion-col class="leftcol">
        <ion-item item-left>
          <ion-label floating>{{loc.dic.mobile.write_greeting}}</ion-label>
          <ion-textarea #textcomment (focus)="focuse('textcomment2')" rows="4"></ion-textarea>
        </ion-item>
      </ion-col>
      <ion-col class="rightcol">
        <button ion-button full icon-only (tap)="sendComment($event)" >
            <ion-icon name="send"></ion-icon>
        </button>
      </ion-col>
    </ion-row>
  </ion-list>
</ion-content>
