greeting_card {

	ion-content{
		// background-image: url('../assets/templates/birth.png');
		// background-repeat: repeat;
		// background-size: contain;
		background-color: #ebebeb !important;
	}

	.birthmain{
		background-image: url('../assets/templates/birth.png');
		background-repeat: repeat;
		background-size: contain;
		ion-item{
			background-color: transparent;
			text-align: center;
			padding-left: 0px !important;
			padding-right: 0px !important;
			.item-inner{
				border: none !important;
				padding-right: 0px !important;
				ion-label{
					margin-right:0px !important;
					margin-left:0px !important;
					margin-bottom: 0px !important;
				}
			}
			ion-avatar{
				img {
					margin:auto;
					width: 160px;
					height: 160px;
				}
			}
		}

		.mainTextItem{
			background-color: rgba(17, 76, 153, 0.55);
			color: white;
			margin-top: 10px;
			font-size: 2.5rem;
		}

		.smallUsers{
			display: inline-block;
			padding: 10px 30px 10px 30px;
			text-align: center;
			color: #444;
			font-size: 1.7rem;
			max-width: 160px;
			vertical-align: text-top;
			img{
				border-radius: 50%;
				width: 90px;
			}
			p{
				margin-top: 1px
			}
		}
	}

	.about {
		background-color: white;
		padding-top: 10px;
		padding-bottom: 10px;
		h1{
			margin-bottom:0px !important;
		}
	}

	.comment{
		background-color: #ebebeb !important;
	}

	.row{
		.col{
			max-width: 50% !important;
			button{
				font-size: 1.5rem;
				text-transform: none;
				.icon{
					margin-left:10px;
				}
			}
		}

		.leftcol{
			max-width: 80% !important;
			width:100%;
		}
		.rightcol{
			max-width: 20% !important;
			width: 20%;
			button{
				height:60px;
				border-radius: 6px;
			}
		}
	}

	.content-md {
		.rightcol{
			max-width: 15% !important;
			width:15%;
		}
	}

	.commentTitle{
		h2{
			display: inline;
		}
		span {
			display: inline;
			font-size: 1.2rem;
		}
	}
}
