<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{loc.dic.modules.Blogs}}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let post of Blogs" >
      <div class="user" (tap)="openPost(post)">
        <ion-avatar item-left>
          <img src="{{images.getImage(post.Author.EMail || 'e@e','_layouts/15/userphoto.aspx?size=L&accountname='+ (post.Author.EMail || 'e@e')+'&mobile=0')}}">
        </ion-avatar>
      </div> 
      <div class="content_blog" (tap)="openPost(post)">
        <h2>{{post.Title}}</h2>
        <p>{{post.FieldValuesAsText.LSiNewsShortDescription}}...</p>
      </div>
      <div class="footer_blog_item">
        <div>{{post.Author.Title}} | {{post.MyCreated}}</div>
        <span class="buttons_right">
          <button [ngClass]="post.liked ? 'liked' : ''" ion-button icon-left clear small (tap)="postLiked($event,post)">
            <ion-icon class="icons" name="thumbs-up"></ion-icon>
            <div>{{post.LikesCount || 0}}</div>
          </button>
          <button ion-button icon-left #commentbutton clear small (tap)="openPost(post)">
              <ion-icon class="icons" name="ios-text"></ion-icon>
              <div>{{post.MyComments.length}}</div>
          </button>
        </span>
      </div>
    </ion-item>
    <ion-item class="empty" *ngIf="Blogs && Blogs.length == 0">
      <h2>{{loc.dic.mobile.Empty}}</h2>
    </ion-item>
    <ion-item *ngIf="!Blogs">
      <h2>{{loc.dic.mobile.Downloading}}</h2>
    </ion-item>
  </ion-list>
</ion-content>
