page-events {

	.picker{
		background-color: rgba(17, 76, 153, 0.8);
		.item-inner{
			border-bottom : none !important;
		}
		button {
			color: white;
			border-width:0px !important;
		}
		ion-label{
			text-align: center;
			font-size: 2.3rem;
			color : white;
		}
	}

	.itemdate{
		color:white;
		background-color: rgba(17, 76, 153, 0.8);
		padding: 5px 20px 5px 20px;
		text-align: center;
		margin: 0px 20px 0px 0px !important;
		width: 90px;
	}

	.eventitem{
		background-color: #F1F1F1;
		margin-bottom: 4px;
		.item-inner{
			border-bottom : none !important;
		}
	}

}
